:root {
    --primary-color: #111f2c;
    --secundary-color: #42677d;
    --bottom-text-color: #86a4b4;
    --background-color: #f9fafb;
    --font-stack: 'Alegreya Sans', system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --horizontal-text-padding: min(40.5px, 3.8vw);
}

* {
    font-family: var(--font-stack);
    color: var(--primary-color, #111f2c);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.img-container {
    width: 35%;
    height: 100%;
    display: flex;
    position: relative;
}

.logo-background {
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.3);
    height: min(237.3px, 38%);
}

img {
    width: 100%;
    height: 100%;
}

.logo {
    width: min(9vw, 114px);
    height: min(8vw, 109px);
}

.ODIN {
    font-weight: 100;
    font-size: min(6rem, 6vw);
    color: var(--primary-color, #111f2c);
}

.img-author {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: var(--bottom-text-color, #657581);
    text-align: center;
    font-size: max(0.5rem, 1vw);;
}

form {
    width: 100%;
    background-color: white;
    box-shadow: 2px 7px 6px -5px #00000054;
    
}

.form-container {
    width: 65%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--background-color, #f9fafb);
    display: flex;
    
}

.form-wrapper {
    border-radius: 5%;
}

h1 {
    font-size: max(1rem, 2.1vw);
    font-weight: 500;
    margin: 0;
    padding: max(20px, 3.2vw) var(--horizontal-text-padding) 5px var(--horizontal-text-padding);
}

.phrase {
    font-size: 1.5vw;
    font-weight: 100;
    margin: 0 0 20px 0;
    padding: 10px var(--horizontal-text-padding) 0 var(--horizontal-text-padding);
}

fieldset {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 42px;
    box-sizing: border-box;
    padding: 3vw 4vw 2vw 4vw;
    margin: 0;
    border: none;
}

legend {
    position: absolute;
    top: 10px;
    font-size: clamp(0.5rem, 1.3rem, 1.3vw);
    font-weight: 400;
}

label {
    text-transform: uppercase;
    font-size: min(1vw, 1rem);
}


.pair-form-container {
    display: flex;
    gap: 10vw;
}

.form-control {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 1.3vw;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: min(7.5px, 0.6vw);
    overflow: auto;
}

button {
    position: absolute;
    margin: 25px 0 0 3vw;
    padding: max(0.5px, 0.7vw) max(5px, 2.6vw);
    border: none;
    background-color: var(--primary-color);
    color: var(--background-color);
}
